body {
    background-color: #f3f3f3;
  }
  
  .imgType {
    margin: 150px 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* imgType01 */
  .imgType01 {
    font-family: 'GmarketSans';
    font-size: 14px;
    font-weight: 500;
    padding: 100px 0;
  }
  
  .imgType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 41px;
  }
  
  .imgType01 .img-wrap {
    display: flex;
    gap: 20px;
  }
  
  .imgType01 .img-wrap .img {
    position: relative;
    width: 590px;
    height: 385px;
  }
  
  .imgType01 .img-wrap .img .img-list {
    position: absolute;
    bottom: 0;
    background-color: rgba(19, 30, 36, 0.7);
    padding: 15px;
    margin: 0 0 20px 30px;
  }
  
  .imgType01 .img-wrap .img .img-list .img-tit {
    font-size: 30px;
    margin-bottom: 8px;
    color: white;
  }
  
  .imgType01 .img-wrap .img .img-list .img-desc {
    line-height: 1.4;
    margin-bottom: 15px;
    color: white;
  }
  
  .imgType01 .img-wrap .img .img-list .img-word {
    text-decoration: underline;
    color: white;
  }
  .imgType01 .img-wrap .img .img-list .img-word a {
      color: white;
  }
