* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
}
#wrap { }
#header {
    height: 100px;
}
#banner {
    height: 300px;
    height: 500px;
    background: url(../img/index.jpeg) no-repeat;
    background-size: cover;
    text-align: center;
}
#banner p {
    display: inline-block;
    border-bottom: 4px solid hsla(0,0%,100%,.2);
    font-weight: 700;
    color: #fff;
    margin: 100px 300px 30px 0;
    font-size: 20px;
    line-height: 34px;
}
#banner h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: -.93px;
    color: #fff;
}
#banner span {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    margin-top: 25px;
}
#contents {
    height: 900px;
}
#footer {
    height: 200px;
    background: #000;
    text-align: center;
    color: #fff;
    padding-bottom: 60px;
    clear: both;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.container2 {
    max-width: 1000px;
    margin: 0 auto;
}
#cont1 {
    background: #F0FAF7;
}
#cont2 {
    background: #fff;
}
#cont3 {
    background: rgba(240,250,250,1);
}
.header {}
.header h1 {
    float: left;
    width: 20%;
    height: 100px;
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 30px;
    margin-top: 5px;
    line-height: 1;
}
.header nav {
    float: left;
    width: 60%;
    height: 100px;
    width: 60%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.header nav li {
    display: inline-block;
    padding: 16px;
    margin: 30px 0;
}
.header .login {
    float: left;
    width: 12%;
    height: 35px;
    line-height: 2.4;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 40px;
}
.cont1 {
    overflow: hidden;
    padding: 100px 0;
}
.cont1 .box1 {
    float: left;
    width: 46%;
}
.cont1 .box1 h2 {
    font-size: 42px;
    padding-bottom: 20px;
    font-weight: 700;
}
.cont1 .box1 p {
    color: rgba(38,38,46,.5);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.cont1 .box1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 52px;
    border-radius: 31px;
    background: #0cd796;
    box-shadow: 0 10px 30px 0 rgb(40 221 111 / 30%);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.27px;
    color: #fff;
    margin-bottom: 30px;
}
.cont1 .box2 {
    float: right;
    width: 48%;
}
.cont1 .box2 img {
    width: 100%;
}
.cont1 .box3 {
    float: left;
    width: 100%;
    margin-top: 30px;
    background: #fff;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 10px 0 rgb(113 171 142 / 5%);
    border: 1px solid #e6f2ec;
}
.cont1 .box3 dl {
    padding-bottom: 15px;
}
.cont1 .box3 dt {
    display: inline;
    color: #12ca8f;
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
}
.cont1 .box3 dd {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    color: rgba(38,38,46,.7);
}
.cont2 {
    overflow: hidden;
    padding: 100px 0;
}
.cont2 .box1 {
    float: right;
    width: 46%;
}
.cont2 .box1 h2 {
    font-size: 42px;
    padding-bottom: 20px;
    font-weight: 700;
}
.cont2 .box1 p {
    color: rgba(38,38,46,.5);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.cont2 .box1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 52px;
    border-radius: 31px;
    background: #0cd796;
    box-shadow: 0 10px 30px 0 rgb(40 221 111 / 30%);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.27px;
    color: #fff;
    margin-bottom: 30px;
}
.cont2 .box2 {
    float: left;
    width: 48%;
}
.cont2 .box2 img {
    width: 100%;
}
.cont2 .box3 {
    float: right;
    width: 100%;
    margin-top: 30px;
    background: #fff;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 10px 0 rgb(113 171 142 / 5%);
    border: 1px solid #e6f2ec;
}
.cont2 .box3 dl {
    padding-bottom: 15px;
}
.cont2 .box3 dt {
    display: inline;
    color: #12ca8f;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}
.cont2 .box3 dd {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    color: rgba(38,38,46,.7);
}
.cont3 {
    overflow: hidden;
    padding: 100px 0;
}
.cont3 .box1 {
    float: left;
    width: 46%;
}
.cont3 .box1 h2 {
    font-size: 42px;
    padding-bottom: 20px;
    font-weight: 700;
}
.cont3 .box1 p {
    color: rgba(38,38,46,.5);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.cont3 .box1 a {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 52px;
    border-radius: 31px;
    background: #0cd796;
    box-shadow: 0 10px 30px 0 rgb(40 221 111 / 30%);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}
.cont3 .box1 a.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 52px;
    border-radius: 31px;
    background: rgb(75, 130, 247);
    box-shadow: rgb(88 181 243 / 30%) 0px 10px 30px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.cont3 .box2 {
    float: right;
    width: 48%;
}
.cont3 .box2 img {
    width: 100%;
}
.cont3 .box3 {
    float: left;
    width: 100%;
    margin-top: 30px;
    background: #fff;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 10px 0 rgb(113 171 142 / 5%);
    border: 1px solid #e6f2ec;
}
.cont3 .box3 dl {
    padding-bottom: 15px;
}
.cont3 .box3 dt {
    display: inline;
    color: #12ca8f;
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
}
.cont3 .box3 dd {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    color: rgba(38,38,46,.7);
}