
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'NanumBarunGothic';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

/* header */
#header {
    margin-top: 70px;
    margin-right: 30px;
    margin-bottom: 305px;
    width: 250px;
    float: left;
}
#header .logo {

}
#header .logo img {
    width: 120px;
}
#header #nav {
    margin-top: 50px;
    font-weight: bold;
}
#header #nav>ul {
    /* width: 90%;  */
}
#header #nav>ul>li>a {
    display: inline-block; 
    padding:10px 0; 
    transition: all 0.3s; 
    font-size: 17px;
}
#nav>ul>li:hover>a { 
    color:#367ED1;
}
#nav ul li ul.sub {
    display: none;
}
#nav ul li ul.sub li {
    margin-left: 5px; 
    border-bottom: 1px solid rgb(214, 214, 214);
}
#nav ul li ul.sub li a {
    display: inline-block; 
    padding:10px 0; 
    margin-left: 5px; 
    transition: all 0.3s;
}
#nav ul li ul.sub li:hover a {
    color:#808080;
}

/* slider */
.slider-wrap {
    margin-top: 70px;
    float: right;
}
.slider-img img {
    width: 100%;
}

.slider-img {
    width: 700px;
    height: 360px;
    overflow: hidden;
    margin: 10px;
}
.slider-inner {
    overflow: hidden;
    position: relative;
    width: 700px;
    height: 1800px;
}
.slider-inner .slider {
    float: left;
    width: 700px;
    height: 360px;
    position: relative;
}

.slider-inner .slider::before {
    background: rgba(0,0,0,0.4);
    color: #fff;
    padding: 5px 10px 3px;
}

.slider-inner .slider:nth-child(1){z-index: 5;}
.slider-inner .slider:nth-child(2){z-index: 4;}
.slider-inner .slider:nth-child(3){z-index: 3;}
.slider-inner .slider:nth-child(4){z-index: 2;}


/* content */
.contents {
}
.contents #tab-menu {
    display: inline-block;
}
.contents #tab-menu .tab-btn {
    font-size: 25px;
    font-weight: bold;
}
.contents #tab-menu .tab-btn ul {
    display: flex;
}
.contents #tab-menu .tab-btn ul li {
    margin: 20px 15px 30px;
}
.contents #tab-menu .tab-btn ul li a {
    color: rgb(179, 179, 179);
}
.contents #tab-menu .tab-btn ul li:first-child {
    margin-left: 150px;
}
.contents #tab-menu .tab-btn ul li.active a {
    color: #000;
}


.contents .tab-cont {
}
.contents .tab-cont > div {
    float: left;
    width: 120px;
    margin-right: 27px;
}
.contents .tab-cont > div:first-child {
    margin-left: 8px;
}
.contents .tab-cont > div:last-child {
    margin-right: 0;
}
.contents .tab-cont .contImg {
    margin-left: 6px;
    width: 90%;
}
.contents .tab-cont h2 {
    font-size: 13px;
    text-align: center;
}

.contents2 {
    margin-bottom: 30px;
}
.contents2 .contWrap {
    background: #F6F6F6;
    margin: 50px 0 0 290px;
    padding: 10px;
    display: flex;
    text-align: center;
}
.contents2 .contWrap .box1 {
    margin: 10px;
    width: 30%;
    background: #fff;
    position: relative;
    padding: 10px;
    border: 1px solid #DFE6EC;
}
.contents2 .contWrap .box1 h3 {
    margin: 25px 0 25px 0;
}
.contents2 .contWrap .box1 .plus {
    position: absolute;
    right: 10px ; top: 10px;
    width: 30px;
}
.contents2 .contWrap .box1 .cont2Img {
    width: 100px;
    margin-bottom: 30px;
}
.contents2 .contWrap .box1 span {
    display: inline-block;
    width: 160px;
    overflow: hidden;
    font-size: 10px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contents2 .contWrap .box2 {
    margin: 10px;
    width: 30%;
    background: #fff;
    position: relative;
    padding: 10px;
    border: 1px solid #DFE6EC;
}
.contents2 .contWrap .box2 h3 {
    margin: 25px 0 25px 0;

}
.contents2 .contWrap .box2 .plus {
    position: absolute;
    right: 10px ; top: 10px;
    width: 30px;
}
.contents2 .contWrap .box2 .cont2Img {
    width: 100px;
    margin-bottom: 30px;
}
.contents2 .contWrap .box2 span {
    display: inline-block;
    width: 160px;
    overflow: hidden;
    font-size: 10px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contents2 .contWrap .box3 {
    position: relative;
    margin: 10px;
    width: 30%;
    background: #fff;
    padding: 10px;
    border: 1px solid #DFE6EC;
}
.contents2 .contWrap .box3 h3 {
    margin: 25px 0 25px 0;

}
.contents2 .contWrap .box3 .plus {
    position: absolute;
    right: 10px ; top: 10px;
    width: 30px;
}
.contents2 .contWrap .box3 .cont2Img {
    width: 100px;
    margin-bottom: 30px;
}
.contents2 .contWrap .box3 span {
    display: inline-block;
    width: 160px;
    overflow: hidden;
    font-size: 10px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/* footer */
#footer {
    margin-bottom: 80px;
}
#footer .footerWrap {
    width: 100%;
    height: 80px;
    background: #EDF2F8;
    padding: 10px 15px;
    position: relative;
}
#footer .footerWrap .logo {
    width: 50px;
    float: left;
}
#footer .footerWrap .logo .logo24 {}
#footer .footerWrap .wrap {
    margin: 15px 0 0 80px;
}
#footer .footerWrap .wrap span {
    display: block;
    margin-top: 3px;
    font-size: 10px;
}

#footer .footerWrap .icon {}
#footer .footerWrap .icon .footerIcon {
    position: absolute;
    right: 135px; top: 30px;
    width: 55px;
    height: 35px;
}
#footer .footerWrap .icon .footerIcon.fi2 {
    right: 80px;
}
#footer .footerWrap .icon .footerIcon.fi3{
    right: 25px;
}