* {
    background: #00284e;
    padding: 0;
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.main_title {
    position: relative;
    height: 100vh;
}
.title_desc {
    position: absolute;
    left: 0; top: 40%;
    z-index: 100;
    background: none;
    font-family: Montserrat;
    font-size: 4.2vw;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
}
.title_desc em {
    font-weight: bold;
    background: none;
}

.title_text {
    position: absolute;
    left: 0; top: 45%;
    z-index: 100;
    background: none;
    font-family: Montserrat;
    font-size: 1.1vw;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    white-space: nowrap;
    margin-top: 9vh;
}
.title_text em {
    font-weight: bold;
    background: transparent;
}
/* .main_btn 
    position: absolute;
    left: 0; top: 450px;
    z-index: 100;
    text-transform: uppercase;
    font-size: 0.6vw;
    font-weight: 600;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 11%;
} */
.main_btn a {
    padding: 12px 25px 12px 25px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 100;
    text-transform: uppercase;
    font-size: 0.6vw;
    font-weight: 600;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 11%;
    transition: all 0.4s;

}
.main_btn a:hover {
    transition: all 0.4s;
    color: rgb(151, 151, 151);
}

.circle1 {
    z-index: 1;
    position: absolute;
    left: 4%; top: 0;
    width: 34.6397vw;
    height: 34.5392vw;
    transition: all 3s;
    animation: ani1 35.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.blue1 {
    position: relative;
    z-index: 1;
    width: 100%;
    background: transparent;
    height: 100%;
}
.shadow1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 183.982vw;
    height: 159.391vw;
}
.circle2 {
    z-index: 2;
    position: absolute;
    left: 18%;
    bottom: -5%;
    width: 36.3541vw;
    height: 36.2529vw;
    background: none;
    transition: all 3s;
    animation: ani2 24.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.green1 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
}
.shadow2 {
    position: absolute;
    left: 0; 
    top: 0;
    width: 61.9738vw;
    height: 62.0565vw;
    background: transparent;
}
.circle3 {
    z-index: 2;
    position: absolute;
    left: 70%;
    bottom: 70%;
    width: 30.3585vw;
    height: 30.3594vw;
    background: none;
    transition: all 3s;
    animation: ani3 27.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.plus {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
}
.shadow3 {
    position: absolute;
    left: 0; 
    top: 0;
    width: 80.8426vw;
    height: 61.7318vw;
    background: transparent;
}
.circle4 {
    z-index: 2;
    position: absolute;
    left: -20%;
    bottom: 0%;
    width: 28vw;
    height: 28vw;
    background: none;
    transition: all 3s;
    animation: ani4 21.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.navy {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
}
/* .circle2 {
    z-index: 1;
    position: absolute;
    left: 0; bottom: -100px;
    width: 250px;
    height: 250px;
    animation: ani2 25.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.circle3 {

    animation: ani3 22.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.cross {

    animation: ani4 35.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
} */

@keyframes ani1 {
    0% {transform: translate(-385px, -285px);}
    100% {transform: translate(-100px, -100px);}
}
@keyframes ani2 {
    0% {transform: translate(150px, 30px);}
    100% {transform: translate(200px, 400px);}
}
@keyframes ani3 {
    0% {transform: translate(-200px, -20px);}
    100% {transform: translate(-100px, 250px);}
}
@keyframes ani4 {
    0% {transform: translate(285px, 285px);}
    100% {transform: translate(0, 0);}
}
/* 
transform: translate(30px, 30px);}
@keyframes ani2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, 10px);}
} */
/* #background img#bg_cloud1 {
    animation:ani1 1.2s infinite alternate cubic-bezier( 0.36, 0.45, 0.63, 0.53);
    
}
#background img#bg_cloud2 {
    animation:ani2 1s infinite alternate cubic-bezier( 0.36, 0.45, 0.63, 0.53);  
} */


.page_title {
    position: relative;
    height: 100vh;
    /* display: none; */
    visibility: hidden;
}

.title_desc.list {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    font-size: 2.5vw;
    line-height: 1.2;
}

.title_desc.list em {
    font-size: 5vw;
}
.boxWrap {
    position: relative;
    height: 100vh;
}
.box1 {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
}

.box1 .WEBSITE_WORK {
    width: 45%;
    border: 45px solid #01BBF0;
}
.box1 .WEBSITE_WORK::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
/* .box1 .WEBSITE_WORK a {
    cursor: pointer;
} */
.box1 .box1span {
    display: inline-block;
    padding-top: 5%;
    font-size: 1.3vw;
    white-space: nowrap;
    background: transparent;
    color: #667A91;
    transition: all 0.5s;
}
.boxWrap .box1span:hover {
    color: #fff;
    transition: all 0.5s;
}

.box1 .box1shadow {

}
.box2 {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 27%;
    text-align: center;
}
.box2 .SCRIPT {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background: #1DB593;
}
.box2 .box2span {
    display: inline-block;
    padding-top: 5%;
    color: #667A91;
    font-size: 1.3vw;
    background: transparent;
}
.box3 {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 65%;
}
.box3 .ANIMATION {
    background: #DFE8F5;
    height: 11vw;
    width: 3.1vw;
    position: relative;
}
.box3 .ANIMATION::after {
    background: #DFE8F5;
    content: "";
    height: 3.1vw;
    width: 11vw;
    position: absolute;
    left: -125%;
    top: 35%;
}
.box3 .box3span {
    color: #667A91;
    font-size: 1.3vw;
    background: transparent;
    display: inline-block;
    padding-top: 5%;
    position: absolute;
    left: -65%;
}
.box4 {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 0;
    text-align: center;
}
.box4 .ABOUT {

    width: 5vw;
    height: 5vw;
    border: 45px solid #005083;
    border-radius: 50%;
}
.box4 .box4span {
    display: inline-block;
    padding-top: 5%;
    color: #667A91;
    font-size: 1.3vw;
}