* {
    background: #00284e;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main_title {
    position: relative;
    height: 100vh;
}

.title_desc {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 100;
    background: none;
    font-family: Montserrat;
    font-size: 4.2vw;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
}

.title_desc em {
    font-weight: bold;
    background: none;
}

.title_text {
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 100;
    background: none;
    font-family: Montserrat;
    font-size: 1.1vw;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    white-space: nowrap;
    margin-top: 9vh;
}

.title_text em {
    font-weight: bold;
    background: transparent;
}

/* .main_btn 
    position: absolute;
    left: 0; top: 450px;
    z-index: 100;
    text-transform: uppercase;
    font-size: 0.6vw;
    font-weight: 600;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 11%;
} */
.main_btn a {
    padding: 12px 25px 12px 25px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 100;
    text-transform: uppercase;
    font-size: 0.6vw;
    font-weight: 600;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 11%;
    transition: all 0.4s;

}

.main_btn a:hover {
    transition: all 0.4s;
    color: rgb(151, 151, 151);
}

.circle1 {
    z-index: 1;
    position: absolute;
    left: 4%;
    top: 0;
    width: 34.6397vw;
    height: 34.5392vw;
    transition: all 3s;
    opacity: 0;
}
.circle1.ani1 {
    animation: ani1 35.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}

.circle1 .blue1 {
    position: relative;
    z-index: 1;
    width: 100%;
    background: transparent;
    height: 100%;
}

.circle1 .shadow1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 183.982vw;
    height: 159.391vw;
}

.circle2 {
    z-index: 2;
    position: absolute;
    left: 18%;
    bottom: -5%;
    width: 36.3541vw;
    height: 36.2529vw;
    background: none;
    opacity: 0;

}
.circle2.ani2 {
    animation: ani2 24.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.circle2 .green1 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;
}
.circle2 .shadow2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 61.9738vw;
    height: 62.0565vw;
    background: none;
}

.circle3 {
    z-index: 2;
    position: absolute;
    left: 70%;
    bottom: 70%;
    width: 30.3585vw;
    height: 30.3594vw;
    background: none;
    transition: all 3s;
    opacity: 0;

}
.circle3.ani3 {
    animation: ani3 27.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}


.circle3 .plus {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
}

.circle3 .shadow3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 80.8426vw;
    height: 61.7318vw;
    background: transparent;
}

.circle4 {
    z-index: 2;
    position: absolute;
    left: -20%;
    bottom: 0%;
    width: 28vw;
    height: 28vw;
    background: none;
    transition: all 3s;
    opacity: 0;

}
.circle4.ani4 {
    animation: ani4 21.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}


.circle4 .navy {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* .circle2 {
    z-index: 1;
    position: absolute;
    left: 0; bottom: -100px;
    width: 250px;
    height: 250px;
    animation: ani2 25.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.circle3 {

    animation: ani3 22.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.cross {

    animation: ani4 35.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
} */

@keyframes ani1 {
    0% {
        transform: translate(-385px, -285px);
    }

    100% {
        transform: translate(-100px, -100px);
    }
}

@keyframes ani2 {
    0% {
        transform: translate(150px, 30px);
    }

    100% {
        transform: translate(200px, 400px);
    }
}

@keyframes ani3 {
    0% {
        transform: translate(-200px, -20px);
    }

    100% {
        transform: translate(-100px, 250px);
    }
}

@keyframes ani4 {
    0% {
        transform: translate(285px, 325px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes ani5 {
    0% {
        transform: translate(-185px, -135px);
    }

    100% {
        transform: translate(100px, 100px);
    }
}
@keyframes ani6 {
    0% {
        transform: translate(-85px, -35px);
    }

    100% {
        transform: translate(100px, 100px);
    }
}
@keyframes ani7 {
    0% {
        transform: translate(-185px, -85px);
    }

    100% {
        transform: translate(100px, 100px);
    }
}
@keyframes ani8 {
    0% {
        transform: translate(-185px, -85px);
    }

    100% {
        transform: translate(100px, 100px);
    }
}
@keyframes ani7 {
    0% {
        transform: translate(-185px, -85px);
    }

    100% {
        transform: translate(100px, 100px);
    }
}

/* 
transform: translate(30px, 30px);}
@keyframes ani2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, 10px);}
} */
/* #background img#bg_cloud1 {
    animation:ani1 1.2s infinite alternate cubic-bezier( 0.36, 0.45, 0.63, 0.53);
    
}
#background img#bg_cloud2 {
    animation:ani2 1s infinite alternate cubic-bezier( 0.36, 0.45, 0.63, 0.53);  
} */


.page_title {
    height: 100vh;
    background: none;
}

.page_desc {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: none;
    font-family: Montserrat;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.6vw;
    line-height: 1.1;
    opacity: 0;
    background: none;
}

.page_desc em {
    font-size: 4.5vw;
    font-weight: bold;
    background: none;
}


.box1 {
    cursor: pointer;
    position: absolute;
    top: 240%;
    right: 215vw;
    text-align: center;
    /* z-index: 10000; */
    background: none;
    width: 11.1905vw;
    height: 11.1905vw;
}

.box1 .WEBSITE_WORK .boximg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
}
.box1 .WEBSITE_WORK .boxShadow {
    position: absolute;
    width: 54.5595vw;
    height: 54.6071vw;
    right: 0%;
    bottom: 0px;
    z-index: 1;
    opacity: 0;
    background: none;
}
.box1 .box1span {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    z-index: 2000;
    display: inline-block;
    padding-top: 5%;
    font-size: 1.3vw;
    white-space: nowrap;
    background: transparent;
    color: #667A91;
    transition: all 0.5s;
}
.boxWrap .box1span:hover {
    color: #fff;
    transition: all 0.5s;
}

.box2 {
    cursor: pointer;
    position: absolute;
    top: 260%;
    left: 235vw;
    text-align: center;
    background: none;
    width: 11.1905vw;
    height: 11.1905vw;
}

.box2 .SCRIPT .boximg{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
}
.box2 .SCRIPT .boxShadow{
    position: absolute;
    width: 47.7762vw;
    height: 47.7595vw;
    top: 0px;
    right: 0px;
    opacity: 0;
    background: none;
}

.box2 .box2span {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    z-index: 2000;
    display: inline-block;
    padding-top: 5%;
    color: #667A91;
    font-size: 1.3vw;
    background: transparent;
}

.box3 {
    cursor: pointer;
    position: absolute;
    top: 260%;
    right: 235vw;
    text-align: center;
    background: none;
    width: 11.1905vw;
    height: 11.19vw;
}

.box3 .ANIMATION .boximg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
}
.box3 .ANIMATION .boxShadow {
    position: absolute;
    width: 44.7952vw;
    height: 45.1167vw;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: none;
    opacity: 0;
}
.box3 .box3span {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    z-index: 2000;
    color: #667A91;
    font-size: 1.3vw;
    background: transparent;
    display: inline-block;
    padding-top: 5%;
    position: absolute;
}

.box4 {
    cursor: pointer;
    position: absolute;
    top: 240%;
    right: 215vw;
    text-align: center;
    background: none;
    width: 11.1905vw;
    height: 11.1905vw;
}
.box4 .ABOUT .boximg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
}
.box4 .ABOUT .boxShadow {
    position: absolute;
    width: 61.4524vw;
    height: 61.7vw;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background: none;
    opacity: 0;
}
.box4 .box4span {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    z-index: 2000;
    display: inline-block;
    padding-top: 5%;
    color: #667A91;
    font-size: 1.3vw;
    background: none;
}


.contact_title {
    height: 100vh;
}
.contact_desc {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    z-index: 2;
    background: none;
}
.contact_desc img {
    background: none;
}

.contact_text {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, 200%);
    font-family: 'Aldrich', sans-serif;
    color: #fff;
    font-size: 1.6vw;
    text-align: center;
    z-index: 2;
    background: none;
}

.square1 {
    z-index: 1;
    position: absolute;
    bottom: 64%;
    right: 62%;
    width: 14.5476vw;
    height: 14.5476vw;
    transition: all 3s;
    opacity: 0;
}
.square1.ani5 {
    animation: ani5 32.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.square1 .blue1 {
    position: relative;
    z-index: 1;
    width: 100%;
    background: transparent;
    height: 100%;
}
.square1 .shadow1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70.9274vw;
    height: 70.9893vw;
}

.square2 {
    z-index: 1;
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 14.5476vw;
    height: 14.547vw;
    background: none;
    opacity: 0;
}
.square2.ani6 {
    animation: ani6 27.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.square2 .green1 {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
}
.square2 .shadow2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 61.9738vw;
    height: 62.0565vw;
    background: none;
}
.square3 {
    z-index: 2;
    position: absolute;
    left: 60%;
    bottom: 60%;
    width: 55.9524vw;
    height: 55.9524vw;
    background: none;
    transition: all 3s;
    opacity: 0;
}
.square3.ani7 {
    animation: ani7 25.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.square3 .navy {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;
}

.square4 {
    z-index: 2;
    position: absolute;
    left: 0%;
    bottom: -30%;
    width: 33.5713vw;
    height: 33.5713vw;
    background: none;
    transition: all 3s;
    opacity: 0;
}
.square4.ani8 {
    animation: ani8 18.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.square4 .plus {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;
}
