* {
    background: #00284e;
    padding: 0;
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    height: 100%;
}


.main_title {
    z-index: 10;
}
.title_desc {
    position: absolute;
    left: 0; top: 40px;
    z-index: 100;
    background: none;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    color: #fff;
    white-space: nowrap;
    letter-spacing: 2.4px;
    margin: 260px 0 0 30px;
}
  
.title_desc em {
    font-weight: bold;
    background: none;
}

.title_text {
    position: absolute;
    left: 0; top: 360px;
    z-index: 100;
    background: none;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    white-space: nowrap;
    margin: 30px 0 0 30px;
}
.main_btn {
    position: absolute;
    left: 0; top: 450px;
    z-index: 100;
    padding: 12px 25px 12px 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    margin: 60px 0 0 30px;
}

.circle1 {
    z-index: 1;
    position: absolute;
    left: 0; top: 0;
    width: 250px;
    height: 250px;
    flex-grow: 0;
    border: solid 120px #9ab7e0;
    background: #011842;
    border-radius: 50%;
    animation: ani1 35.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.circle2 {
    z-index: 1;
    position: absolute;
    left: 0; bottom: -100px;
    width: 250px;
    height: 250px;
    flex-grow: 0;
    border: solid 120px #1EB693;
    background: #011842;
    border-radius: 50%;
    animation: ani2 25.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
.circle3 {
    z-index: 1;
    position: absolute;
    left: 0; bottom: -100px;
    width: 400px;
    height: 400px;
    flex-grow: 0;
    background: #011842;
    border-radius: 50%;
    animation: ani3 22.2s infinite alternate cubic-bezier(0.255, -0.045, 0.690, 1.045);
}
@keyframes ani1 {
    0% {transform: translate(-285px, -285px);}
    100% {transform: translate(0, 0);}
}
@keyframes ani2 {
    0% {transform: translate(450px, 30px);}
    100% {transform: translate(600px, 300px);}
}
@keyframes ani3 {
    0% {transform: translate(-200px, -20px);}
    100% {transform: translate(-100px, 250px);}
}
/* 
transform: translate(30px, 30px);}
@keyframes ani2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, 10px);}
} */
/* #background img#bg_cloud1 {
    animation:ani1 1.2s infinite alternate cubic-bezier( 0.36, 0.45, 0.63, 0.53);
    
}
#background img#bg_cloud2 {
    animation:ani2 1s infinite alternate cubic-bezier( 0.36, 0.45, 0.63, 0.53);  
} */
