// #mainCont
// #aboutCont
// #referCont
// #scriptCont
// #portCont

// #mainCont
#mainCont {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: $font-main;
    font-size: 9vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
}

@media (max-width: 800px){
    #mainCont {
        font-size: 15vw;
        
        br {
            display: block;
        }
    }
}
// #mainCont2
#mainCont2 {
    background-color: #D99E9E;
    height: 100vh;
    font-family: $font-logo;
    line-height: 1;
    text-transform: uppercase;
    position: relative;

    .main__cont {
        position: absolute;
        left: 20%; top: 20%;
        font-size: 6vw;
        font-weight: bold;
        z-index: 10;
        color: #fff;
        

        div:last-child {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
            font-weight: normal;
        }
    }
    .main__cont2 {
        position: absolute;
        right: 20%; bottom: 15%;
        font-size: 3vw;
        z-index: 10;
        color: #fff;
        text-align: right;
    }
    .main__img {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        height: 550px;
        width: 550px;
    }
}

@media (max-width: 800px){
    #mainCont2 {
    
        .main__cont {
            position: absolute;
            left: 10%; top: 25%;
            font-size: 8vw;
    
            div:last-child {
                color: transparent;
                -webkit-text-stroke: 3px #fff;
                font-weight: normal;
            }
        }
        .main__cont2 {
            position: absolute;
            left: 10%; bottom: 20%;
            font-size: 4vw;
            z-index: 10;
            color: #fff;
            text-align: left;
        }
        .main__img {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            height: 350px;
            width: 350px;
        }
    }
}


// #aboutCont
#aboutCont {
    background: #f0eeeb;
    font-family: 'saol';
    width: 100%;
    
    .container {
        width: 1200px;
        margin: 0 auto;
        
        h1 {
            font-size: 8vw;
            text-transform: uppercase;
            line-height: 1.02;
            padding-top: 235px;
        }
        
        .about1 {

            .aboutImg1 {
                width: 1200px;
                height: 800px;
                padding-top: 250px;
            }
            h3 {
                margin-top: 60px;
                font-size: 1.1vw;
            }
            p {
                margin-top: 20px;
                font-size: 1.04vw;
                line-height: 1.5;
                text-align: justify;
            }
        }
        .about2 {
            margin-top: 308px;
            display: flex;
            justify-content: space-between;

            .aboutImg2 {
                flex: 0 0 50%;
                width: 100%; 
            }
            .about2_text {
                flex: 0 0 32%;
                margin-left: 45px;

                h3 {
                    font-size: 1.1vw;
                }
                p {
                    margin-top: 25px;
                    font-size: 1.04vw;
                    line-height: 1.5;
                    text-align: justify;
                }
            }
        }
        .about3 {
            margin-top: 368px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 420px;

            .aboutImg3 {
                flex: 0 0 60%;
                width: 100%; 
                margin-left: 55px;
            }
            .about3_text {
                flex: 0 0 40%;
                text-align: justify;

                h3 {
                    font-size: 1.1vw;
                }
                p {
                    margin-top: 25px;
                    font-size: 1.04vw;
                    line-height: 1.5;
                }
            }
        }
    }
}