// #mainCont
// #aboutCont
// #referCont
// #scriptCont
// #portCont

// #mainCont
#mainCont {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: $font-main;
    font-size: 9vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
}

@media (max-width: 800px){
    #mainCont {
        font-size: 15vw;
        
        br {
            display: block;
        }
    }
}
// #mainCont2
#mainCont2 {
    background-color: #D99E9E;
    height: 100vh;
    font-family: $font-logo;
    line-height: 1;
    text-transform: uppercase;
    position: relative;

    .main__cont {
        position: absolute;
        left: 20%; top: 20%;
        font-size: 6vw;
        font-weight: bold;
        z-index: 10;
        color: #fff;
        

        div:last-child {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
            font-weight: normal;
        }
    }
    .main__cont2 {
        position: absolute;
        right: 20%; bottom: 15%;
        font-size: 3vw;
        z-index: 10;
        color: #fff;
        text-align: right;
    }
    .main__img {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        height: 550px;
        width: 550px;
    }
}

@media (max-width: 800px){
    #mainCont2 {
    
        .main__cont {
            position: absolute;
            left: 10%; top: 25%;
            font-size: 13vw;
    
            div:last-child {
                color: transparent;
                -webkit-text-stroke: 3px #fff;
                font-weight: normal;
            }
        }
        .main__cont2 {
            position: absolute;
            left: 10%; bottom: 20%;
            font-size: 7vw;
            z-index: 10;
            color: #fff;
            text-align: left;
        }
        .main__img {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            height: 350px;
            width: 350px;
        }
    }
}